<div class="buttons">
  <h3>{{ buttonHeading }}</h3>
  <div (mouseout)="goldInactive = false">
    <button
      [class.gold]="!goldInactive"
      [disabled]="goldInactive"
      (mouseover)="goldInactive = true"
    >
      Gold
    </button>
  </div>
  <br />
  <button
    [class.silver]="!silverInactive"
    [disabled]="silverInactive"
    (click)="silverInactive = true"
  >
    Silver
  </button>
  <br />
  <button
    [class.copper]="!copperInactive"
    [disabled]="copperInactive"
    (click)="copperInactive = true"
  >
    Copper
  </button>
  <hr />
  <button (click)="resetButtons()">Activate/Deactivate Buttons</button>

  <div [align]="location" (mouseover)="location = shiftLocation(location)">
   <button class="silver">Catch Me!</button>
  </div>
</div>
