.chores {
    font-family: 'Courier New', Courier, monospace
}

h3 {
    font-size: 2rem;
    color: darkgreen;
    text-decoration: underline;
}

ul {
    font-size: 1.25rem;
    color: orangered;
    font-style: italic;
}